$colorMediumPurple: #a65cf0;
$colorMauve: #c998fb;
$colorPurpleHeart: #7033ac;
$colorBlueChalk: #ebd1ff;
$colorCrusta: #ff862f;
$colorKoromiko: #ffbd59;
$colorRust: #bb370e;
$colorStraw: #d5b986;
$colorWhite: #ffffff;
$colorWildSand: #f6f6f6;
$colorGallery: #eaeaea;
$colorDustyGray: #999999;
$colorDoveGray: #666666;
$colorMineShaft: #333333;
$colorMilkPunch: #fff5d1;
